<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>我的</title>
    <link href="css/mui.css" rel="stylesheet"/>
	<link href="css/mui.picker.css" rel="stylesheet" />
	<link href="css/mui.poppicker.css" rel="stylesheet" />
	<style type="text/css">
    	.font18{
			font-size:18px;
		}
		.button_left{
			font-size:18px;
			line-height:2;
			margin-left:3%;
			width:66%;
		}
		.button_right{
			font-size:18px;
			line-height:2;
			margin-right:3%;
			width:26%;
			background-color:#5CE665;
		}
		.button_3{
			font-size: 14px;
		    line-height: 1.5;
		    width: 24%;
		    padding: 10px 2px;
			text-align: center;
			margin-bottom: 10px;
		}
		.button_4{
			font-size: 18px;
		    width: 100%;
		    padding: 10px 2px;
			text-align: center;
			margin-bottom: 5px;
			position: relative !important;
			right:0px !important;
			font-weight: bold;
		}
		.symbol{
			font-size:50px;
			line-height: 50px;
			text-align: center;
		}
		.layerLi{
		    position: relative;
		    padding: 1px 15px;
		}
		table td{
			padding:2px 3px;
		}
		
		
    </style>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
    	<h1 class="mui-title">我的</h1>
	</header>
	<div class="mui-content" id="teamContent">
		<h5 class="mui-content-padded font18">球队查询</h5>
		<button v-on:click="chooseTeam" class="mui-btn mui-btn-primary button_left" 
			v-html="team">
		</button>
		<button v-on:click="qryTeam" class="mui-btn mui-btn-primary button_right">
			查询
		</button>
		<ul class="mui-table-view" id="teamDiv" style="display: none;">
	    	<li class="mui-table-view-cell">主场得失分：<span style="padding-left:1%">{{homeAvg}} / {{homeLostAvg}}</span></li>
        	<li class="mui-table-view-cell">客场得失分：<span style="padding-left:1%">{{visitAvg}} / {{visitLostAvg}}</span></li>
	    	<li class="mui-table-view-cell">近五场主场：<span style="padding-left:1%">{{last5HomeAvg}} / {{last5HomeLostAvg}}</span></li>
	    	<li class="mui-table-view-cell">近五场客场：<span style="padding-left:1%">{{last5VisitAvg}} / {{last5VisitLostAvg}}</span></li>
	    	<li class="mui-table-view-cell mui-collapse">
				<a class="mui-navigate-right" href="javascript:;" style="color:cornflowerblue">近5场比分：</a>
				<div class="" style="font-size:14px;text-align:center">
					<template v-for="game in games">
						<div class="mui-input-row" style="color:#020a97">
							{{game.matchTime}}
						</div>
						<table align="center">
							<tr style="border-bottom: 1px solid #b9b9b9;">
								<template v-if="game.isHome==true">
									<td width="40%" style="font-weight: bold">{{game.homeTeam}}</td>
									<td width="20%" nowrap="nowrap" style="color:red"> {{game.score}} </td>
									<td width="40%">{{game.visitTeam}}</td>
								</template>
								<template v-if="game.isHome==false">
									<td width="40%">{{game.homeTeam}}</td>
									<td width="20%" nowrap="nowrap" style="color:red"> {{game.score}} </td>
									<td width="40%" style="font-weight: bold">{{game.visitTeam}}</td>
								</template>
							</tr>
						</table>
					</template>
				</div>
			</li>
		</ul>
	</div>
	<h5 class="mui-content-padded font18">公式计算器</h5>
	<div class="mui-content" style="padding-bottom:55px;padding-top:0px;" id="eqContent">
		<div class="mui-card font18" style="padding-top: 10px;">
			<template v-for="(item,index) in mathList">
			<div class="mui-input-row symbol" v-if="item.plusShow">+</div>
			<div style="text-align: center;" class="mui-input-row">
				<input type="hidden" v-bind:value="index">
				<span class="mui-icon mui-icon-compose" style="margin-left:5px;" v-on:click="editOne"></span>
				<input  placeholder="系数" type="number" v-model="item.factor" style="width:80px;margin-left: 10px;">
				X&nbsp;
				<input type="number" readonly="readonly" v-on:click="editOne" v-bind:value="item.score" class="mui-input-clear" style="width:100px" >
				<span class="mui-icon mui-icon-plus" v-if="item.addShow" style="margin-left:10px;" v-on:click="addOne"></span>
				<span class="mui-icon mui-icon-minus" style="margin-left:10px;" v-on:click="removeOne"></span>
			</div>
			</template>
			<div class="mui-input-row symbol">=</div>
		    <div class="mui-input-row">
		        <label style="text-align: right;width:27%">结果：</label>
		        <input type="number" v-bind:value="result" class="mui-input-clear" style="padding-left:15px;margin-bottom:10px;border: 1px solid #ccc">
		    </div>
		</div>
		<div id="buttonDiv" style="display:none">
				<ul class="mui-table-view" style="padding-top: 10px;">
			        <li class="layerLi">
			        	<button v-on:click="chooseTeam" v-html="teamName" class="button_4 mui-btn mui-btn-primary">
							选择球队
			        	</button>
			        </li>
			        <li class="layerLi">
			        	<button v-on:click="chooseRH" v-html="rhName" class="button_4 mui-btn mui-btn-primary" >
							选择场次
						</button>
			        </li>
			        <li class="layerLi">
			        	<button v-on:click="chooseHV" v-html="hvName" class="button_4 mui-btn mui-btn-primary" >
							选择主客场
						</button>
			        </li>
			        <li class="layerLi">
			        	<button v-on:click="chooseWL" v-html="wlName" class="button_4 mui-btn mui-btn-primary" >
							选择得失分
						</button>
			        </li>
			        <li class="mui-table-view-cell">
			        	<label style="text-align: right;width:27%;margin-left: 10%">分数：</label>
		        		<input style="width:70%;margin-bottom: 0px;" type="number" v-bind:value="tempScore" class="mui-input-clear" style="margin-bottom:10px;border: 1px solid #ccc">
			        </li>
			        <h5 id="errSpan" class="mui-content-padded font18" style="height:20px;color:red;">{{butErrMsg}}</h5>
				</ul>
			</div>
		<h5 id="errSpan" class="mui-content-padded font18" style="height:20px;color:red;">{{errMsg}}</h5>
	</div>
	<div id="nav">
		<mynav menu3="true"></mynav>
	</div>
	
<script src="js/jquery.js"></script>
<script src="js/layer.js"></script>
<script src="js/vue.js"></script>
<script src="js/nav.js"></script>
<script src="js/mui.js"></script>
<script src="js/mui.picker.js"></script>
<script src="js/mui.poppicker.js"></script>
<script src="js/teamData.js"></script>

<script type="text/javascript" charset="utf-8">
var ec=new Vue({
	el:"#eqContent",
	computed:{
		rhPicker:function(){//场次
			var t = new mui.PopPicker({
				layer: 1,
			});
			t.setData([{
					value: '1',
					text: '最近三场'
				},{
					value: '2',
					text: '最近五场'
				},{
					value: '3',
					text: '本赛季'
			}]);
			return t;
		},
		hvPicker:function(){//主客场
			var t = new mui.PopPicker({
				layer: 1,
			});
			t.setData([{
					value: '1',
					text: '主场'
				},{
					value: '2',
					text: '客场'
				},{
					value: '3',
					text: '所有场次'
			}]);
			return t;
		},
		wlPicker:function(){//得失分
			var t = new mui.PopPicker({
				layer: 1,
			});
			t.setData([{
					value: '1',
					text: '得分'
				},{
					value: '2',
					text: '失分'
			}]);
			return t;
		}
	},
	data:{
		errMsg:"",
		teamName:"选择球队",
		rhName:"选择场次",
		hvName:"选择主客场",
		wlName:"选择得失分",
		tempScore:0,//buttonLayer的分数
		butErrMsg:"",//buttonLayer的分数的报错信息
		mathList:[{//列表数据
			teamName:"",
			rhName:"",
			hvName:"",
			wlName:"",
			score:0,
			factor:0,//系数
			addShow:true,
			plusShow:false
		}],
		result:0,
		index:0//当前index
	},
	watch:{
		mathList:{
			handler:function(){
				for (var sum=0,i=0;i<this.mathList.length;i++) {
					var score=this.mathList[i].score;
					var factor=this.mathList[i].factor;
					sum+=(score*factor);
				}
				this.result=sum;
			},
			deep:true
		}
	},
	methods:{
		getIndex:function(event){
			return event.target.parentNode.getElementsByTagName("input")[0].value;
		},
		picker:function(event,obj,paraName){
			ec.butErrMsg="";
			obj.show(function(items){
				if(paraName=="teamName"){
					ec.mathList[ec.index][paraName]=items[1].text;
					ec[paraName]=items[1].text;
				}else{
					ec.mathList[ec.index][paraName]=items[0].text;
					ec[paraName]=items[0].text;
				}
				event.target.style.background='white';
				event.target.style.color='black';
				
				var teamName=ec.mathList[ec.index].teamName;
				var rhName=ec.mathList[ec.index].rhName;
				var hvName=ec.mathList[ec.index].hvName;
				var wlName=ec.mathList[ec.index].wlName;
				
				if(teamName!="" && rhName!="" && hvName!="" && wlName!=""){
					$.post2SRV("calculate.do",{teamName:teamName,rhName:rhName,hvName:hvName,wlName:wlName},function(data){
						ec.tempScore=data.result;
					},"json");
				}
			});
		},
		chooseTeam:function(event){
			this.picker(event,tc.teamPicker,"teamName");
		},
		chooseRH:function(event){
			this.picker(event,ec.rhPicker,"rhName");
		},
		chooseHV:function(event){
			this.picker(event,ec.hvPicker,"hvName");
		},
		chooseWL:function(event){
			this.picker(event,ec.wlPicker,"wlName");
		},
		calculate:function(event){
			console.log(event.target.value);
		},
		initButLayer:function(){
			var item=this.mathList[this.index];
			if(item.score==0){
				this.teamName="选择球队";
				this.rhName="选择场次";
				this.hvName="选择主客场";
				this.wlName="选择得失分";
				this.tempScore=0;
				$("li button").css({
					background:'#007aff',
					color:'white'
				});
			}else{
				this.teamName=item.teamName;
				this.rhName=item.rhName;
				this.hvName=item.hvName;
				this.wlName=item.wlName;
				this.tempScore=item.score;
				$("li button").css({
					background:'white',
					color:'black'
				});
			}
		},
		editOne:function(event){
			this.index=this.getIndex(event);
			this.initButLayer();
			var buttonLayer=layer.open({
				title:"<div class='font18'>请选择</div>",
				btn: ["确定"],
				btn1:function(){
					if(ec.tempScore!=0){
						ec.mathList[ec.index].score=ec.tempScore;
						layer.close(buttonLayer);
					}else{
						ec.butErrMsg="还有未选择的项";
					}
				},
				cancel:function(){
					ec.butErrMsg="";
					layer.close(buttonLayer);
				},
				type:1,
				content:$("#buttonDiv"),
				area:"95%",
				zIndex:2
			});
		},
		addOne:function(event){
			this.mathList.push({
				teamName:"",
				rhName:"",
				hvName:"",
				wlName:"",
				score:0,
				factor:0,
				addShow:true,
				plusShow:true
			});
			this.index=this.getIndex(event);
			this.mathList[this.index].addShow=false;
		},
		removeOne:function(event){
			if(this.mathList.length==1){
				return;	
			}
			this.index=this.getIndex(event);
			this.mathList.splice(this.index,1);
			this.mathList[this.mathList.length-1].addShow=true;
			this.mathList[0].plusShow=false;
		}
	}
});

var tc=new Vue({//查询球队数据
	el:"#teamContent",
	data:{
		team:"选择球队&nbsp;&nbsp;&nbsp;﹀",
		homeAvg:"",
		homeLostAvg:"",
		visitAvg:"",
		visitLostAvg:"",
		last5HomeAvg:"",
		last5HomeLostAvg:"",
		last5VisitAvg:"",
		last5VisitLostAvg:"",
		games:""
	},
	computed:{
		teamPicker:function(){
			var t = new mui.PopPicker({
				layer: 2,
			});
			t.setData(teamData);
			return t;
		}
	},
	methods:{
		chooseTeam:function(event){
			tc.teamPicker.show(function(items) {
				tc.team=items[1].text;
				event.target.style.background='white';
				event.target.style.color='black';
				ec.errMsg="";
			});
		},
		qryTeam:function(event){
			if(tc.team=="选择球队&nbsp;&nbsp;&nbsp;﹀"){
				ec.errMsg="请选择球队";
				return;
			}
			$.post2SRV("teamRateQry.do",{teamName:tc.team},function(data){
				tc.homeAvg=data.homeAvg;
				tc.homeLostAvg=data.homeLostAvg;
				tc.visitAvg=data.visitAvg;
				tc.visitLostAvg=data.visitLostAvg;
				tc.last5HomeAvg=data.last5HomeAvg;
				tc.last5HomeLostAvg=data.last5HomeLostAvg;
				tc.last5VisitAvg=data.last5VisitAvg;
				tc.last5VisitLostAvg=data.last5VisitLostAvg;
				tc.games=data.last5Game;
				//渲染完成再弹出
				tc.$nextTick(function(){
					var teamLayer=layer.open({
						title:"<div class='font18'>球队战绩</div>",
						btn: ["确定"],
						btn1:function(){
							layer.close(teamLayer);
						},
						cancel:function(){
							layer.close(teamLayer);
						},
						type:1,
						content:$("#teamDiv"),
						area:"95%"
					});
				});
			},"json")
		}
	}
});
</script>
</body>
</html>